<h1><%= @person.name %></h1>
<h3><%= @person.age %></h3>
<h3><%= @person.hair_color %></h3>
<h3><%= @person.eye_color %></h3>
<h3><%= @person.gender %></h3>
<h3><%= @person.alive %></h3>
<%= link_to 'Back', people_path %>

